h2  Resultados de </br> aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        p.bg-color-dark
          h5 230101261-02
          p.mb-0 Diseñar estrategias para humanizar los servicios de salud teniendo en cuenta el reconocimiento de prácticas humanizantes.
           




