.container

    .header-ecored
        h1 Material complementario

    .jumbotron.bg-white

        table.table.table-bordered.table-striped
            thead.thead-dark
                tr
                    th Nombre del documento o material
                    th Tipo de material 
                    th Enlace del Recurso

            tbody
                tr                    

                    td
                        strong Otero M.H. 2008, Hacia una comunicación efectiva y humanista en ámbitos de salud. 
                    td PDF 
                    td 
                        a(href="https://sena-primo.hosted.exlibrisgroup.com/permalink/f/1i756fj/TN_scielo_sS1729_519X2008000100002", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Ver
                



                
                        
            