.container

    .header-ecored
        h1 Material complementario

    .jumbotron.bg-white

        table.table.table-bordered.table-striped
            thead.thead-dark
                tr
                    th Nombre del documento o material
                    th Tipo de material 
                    th Enlace del Recurso

            tbody
                tr                    

                    td
                        strong Otero M.H. 2008, Hacia una comunicación efectiva y humanista en ámbitos de salud. 
                    td PDF 
                    td 
                        a(href="https://www.researchgate.net/publication/262784489_HACIA_UNA_COMUNICACION_EFECTIVA_Y_HUMANISTA_EN_AMBITOS_DE_SALUD ", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Ver
                



                
                        
            