.container#page-introduccion

    .header-ecored
        h1 1. Humanización en salud

    .jumbotron.bg-white 
      .row
        .col-12
          .header-ecored.mt-3#tema1_1
            h2 1.1 Conceptualización

        .col-12.mb-5
          p En el presente tema se aborda la humanización desde la visión de autores como José Bermejo, Angelo Brusco, Regrado, Herranz y Torras Raventos.  Aunque, la humanización es un término que emerge de temas como el ser humano, su entorno, el trato, las relaciones humanas, entre otras, se puede afirmar que no hay un concepto único, cierto y obvio de humanización; por el contrario, es un concepto polisémico, amplio, sencillo y complejo a la vez, dado que puede incorporar diversos ámbitos o dimensiones del ser humano.
          
      .jumbotron
        .row.justify-content-center.align-items-center
          .col-12.col-md-auto.d-flex.justify-content-center.mb-5.mb-md-0
            img(src="assets/images/pages/tema_1/img_01.svg", alt="" style="min-width:250px;").img-fluid
          .col 
            p.mb-0 Esta caracterización debe realizarse a través de medios digitales preferiblemente, antes de iniciar las actividades laborales y recuerden conservar consentimiento informado que garantice la confidencialidad de la información.

      .jumbotron.bg-white.mb-0       
        .row.mt-5
          .col-md-6.col-lg-4
            .anchorBtn
              a(href="#1")
                .anchorBtn__tag
                  .anchorBtn__number
                    h3 1
                .anchorBtn__body
                  p Definiciones
          .col-md-6.col-lg-4
            .anchorBtn
              a(href="#2")
                .anchorBtn__tag
                  .anchorBtn__number
                    h3 2
                .anchorBtn__body
                  p Características
          .col-md-6.col-lg-4
            .anchorBtn
              a(href="#3")
                .anchorBtn__tag
                  .anchorBtn__number
                    h3 3
                .anchorBtn__body
                  p Ejemplos
          .col-md-6.col-lg-4
            .anchorBtn
              a(href="#4")
                .anchorBtn__tag
                  .anchorBtn__number
                    h3 4
                .anchorBtn__body
                  p No ejemplos
          .col-md-6.col-lg-4
            .anchorBtn
              a(href="#5")
                .anchorBtn__tag
                  .anchorBtn__number
                    h3 5
                .anchorBtn__body
                  p Procedimientos
          .col-md-6.col-lg-4
            .anchorBtn
              a(href="#6")
                .anchorBtn__tag
                  .anchorBtn__number
                    h3 6
                .anchorBtn__body
                  p Enfoques



    .jumbotron.bg-white#1 
      .anchorHeader
        .anchorHeader__number
          h3 1
        .anchorHeader__body
          p Definiciones
          .anchorHeader__btn
            a(href="#top") ^
      .row          
        .col-12
          p De las múltiples definiciones de “humanización” rescatamos las siguientes:  

      .row.justify-content-center.my-3     
        .col-12
          .timeline.tl--start.tl--end
            .timeline__item.d-flex                        
              .timeline__item__info                 
                p Humanizar corresponde a “hacer humano, familiar, afable a alguien o algo”. “Es ablandarse, desenojarse, hacerse benigno”. Diccionario de María Moliner. (Bermejo J., 2014, pág. 27-29). 
            .timeline__item.d-flex                      
              .timeline__item__info                 
                p Humanizar ha sustituido a humanar “Hacer una cosa más humana, menos cruel, menos dura para los hombres”. Diccionario de la Lengua Española. (Bermejo J., 2014, pág. 27-29).
            .timeline__item.d-flex                    
              .timeline__item__info                 
                p “Humanizar es una cuestión ética, con los valores, busca el bien de la persona, impregna las relaciones con valores y actitudes genuinamente humanos”. (Gutiérrez R., 2011, pág. 1-8).
      .row.my-5
        .col-12
          p.mb-0 En cuanto a la definición de la humanización en salud, a continuación, enunciamos aspectos más relevantes: 
      .row.justify-content-center.my-3     
        .col-12
          .timeline.tl--start.tl--end    
            .timeline__item.d-flex                    
              .timeline__item__info                 
                p Es el acto de humanizar, son las condiciones del hombre, en el sentido de ser humano, se reconoce el grado de corresponsabilidad y presupone un cambio en las personas, en la forma de trabajar, en la estructura y reforma de atención, se relaciona con cambio en la cultura de atención y la gestión (Monteiro M. I., 2008, pág. 9).
            .timeline__item.d-flex                      
              .timeline__item__info                 
                p Son todas las acciones, medidas y comportamientos que garantizan y salvaguardan la vida y la dignidad de cada ser humano, significa que el usuario está en el centro, el usuario en una organización no es solamente el paciente, sino cada persona que interactúa con el espacio físico y con la organización del establecimiento. (De Bello S. C., 2000, pág. 1).
            .timeline__item.d-flex                      
              .timeline__item__info                 
                p “La Humanización se visualiza como el conjunto de iniciativas para la producción del cuidado conciliando tecnología con acogimiento, ética y cultura” (Martins J., Stein B., Cardoso R., Alacoque L., Albuquerque G., 2008, pág. 276-281).
            .timeline__item.d-flex                     
              .timeline__item__info                 
                p “Cuando los valores nos llevan a diseñar políticas, programas, realizar cuidados y velar por las relaciones asociadas con la dignidad de todo ser humano, hablamos de humanización” (Bermejo H. ,2013, pág. 3-12).               
                    

    .jumbotron.bg-white#2 
      .anchorHeader
        .anchorHeader__number
          h3 2
        .anchorHeader__body
          p Características 
          .anchorHeader__btn
            a(href="#top") ^
      .row          
        .col-12
          p Las características necesarias para abordar la humanización son tan diversas y variadas como lo son las características del ser humano. Sin embargo, a continuación, se rescatan algunas cualidades necesarias para entender la humanización desde acciones cotidianas y para humanizar el sistema de salud. 

      .row.justify-content-center.align-items-center.my-5 
        .col-10.col-md-8
          .card-media.bg-brand-color-light
            .card-media__body                 
              figure.card__figure
                img(src="assets/images/pages/tema_1/icon_01.svg").img-fluid
              p La humanización distingue las condiciones y el sentido del ser humano de forma integral con el entorno, se impregna de valores y actitudes genuinamente humanos.
              p.mb-0 (Monteiro M. I., 2008, pág. 9)
        .col-10.col-md-8
          .card-media.bg-brand-color-light
            .card-media__body                 
              figure.card__figure
                img(src="assets/images/pages/tema_1/icon_02.svg").img-fluid
              p Distingue al ser humano en su individualidad y colectividad. 
              p.mb-0 (Bermejo H. ,2013, pág. 3-12)
        .col-10.col-md-8
          .card-media.bg-brand-color-light
            .card-media__body                 
              figure.card__figure
                img(src="assets/images/pages/tema_1/icon_03.svg").img-fluid
              p Establece un compromiso ético para el goce efectivo del derecho, en proteger la vida y en reconocer la dignidad de todo ser humano con sus dificultades e inclusión en la vida social. 
              p.mb-0 (Bermejo H. ,2013, pág. 3-12)
        .col-10.col-md-8
          .card-media.bg-brand-color-light
            .card-media__body                 
              figure.card__figure
                img(src="assets/images/pages/tema_1/icon_04.svg").img-fluid
              p Se fundamenta en la relación interpersonal que conlleva a la personalización, al respeto, al amor, al altruismo, compasión, a la empatía, a la calidez. 
              p.mb-0 (Confederación Médica Latinoamericana y del Caribe, y Organización Médica Colegial de España. 2016, pág. 18)
        .col-10.col-md-8
          .card-media.bg-brand-color-light
            .card-media__body                 
              figure.card__figure
                img(src="assets/images/pages/tema_1/icon_05.svg").img-fluid
              p Un sistema sanitario humanizado es aquél cuya razón de ser, es estar al servicio de la persona y, por tanto, está pensado y concebido en función del hombre. 
              p.mb-0 (Raventós F., 1985, pág. 12)
        .col-10.col-md-8
          .card-media.bg-brand-color-light
            .card-media__body                 
              figure.card__figure
                img(src="assets/images/pages/tema_1/icon_06.svg").img-fluid
              p La humanización tiene que ver con la gestión, la concepción del sistema sanitario, el funcionamiento de las estructuras sanitarias, la mentalidad de las personas involucradas en la misma, la competencia profesional, y elementos no fácilmente comunicables como el dolor evitado, el sufrimiento prevenido, las capacidades recuperadas, y la alegría recobrada.
              p.mb-0 (Raventós F., 1985, pág. 12)
        .col-10.col-md-8
          .card-media.bg-brand-color-light
            .card-media__body                 
              figure.card__figure
                img(src="assets/images/pages/tema_1/icon_07.svg").img-fluid
              p Los procesos de humanización tienen que ver con las actitudes. 
              p.mb-0 (Raventós F., 1985, pág. 12)
        .col-10.col-md-8
          .card-media.bg-brand-color-light
            .card-media__body                 
              figure.card__figure
                img(src="assets/images/pages/tema_1/icon_08.svg").img-fluid
              p Es necesario que los hospitales sean más humanos, exista un mayor respeto a la dignidad humana, por lo tanto, se requiere formación del personal de salud, en cuanto a la organización de los servicios para la atención, información al ser humano, sujeto de cuidado sobre su enfermedad y tratamiento específico; así como, preparación psicológicamente a la muerte. 
              p.mb-0 (Raventós F., 1985, pág. 12)

    .jumbotron.bg-white#3
      .anchorHeader
        .anchorHeader__number
          h3 3
        .anchorHeader__body
          p Ejemplos 
          .anchorHeader__btn
            a(href="#top") ^
      .row          
        .col-12
          p Los ejemplos de humanización se pueden visualizar en acciones cotidianas en las que se reconoce como se ha referenciado anteriormente. Igualmente, la humanización en salud se puede evidenciar en variadas situaciones, áreas, departamentos y son diferentes actores los que permiten hacer realidad la puesta en práctica.     

      .row.justify-content-center.align-items-center.my-5 
        .col-12.col-lg-7.mb-4
          .media_link
            a(href="https://www.youtube.com/watch?v=a89e3tbZErU", target="_blank")
              .media_link__icon
                img(src="assets/images/icons/icon_www.svg", alt="")
              .media_link__txt
                p #[strong Ejemplo 1:] Las batas más fuertes 
        .col-12.col-lg-7.mb-4
          .media_link
            a(href="https://www.youtube.com/watch?v=bl5zrIXoK9Q#action=share ", target="_blank")
              .media_link__icon
                img(src="assets/images/icons/icon_www.svg", alt="")
              .media_link__txt
                p #[strong Ejemplo 2:] Salud universal en las américas OPS 
        .col-12.col-lg-7
          .media_link
            a(href="https://www.youtube.com/watch?v=6NpxbFm6eTY", target="_blank")
              .media_link__icon
                img(src="assets/images/icons/icon_www.svg", alt="")
              .media_link__txt
                p #[strong Ejemplo 3:] Estación lunar juegaterapia en el Hospital Gregorio Marañón       

    .jumbotron.bg-white#4
      .anchorHeader
        .anchorHeader__number
          h3 4
        .anchorHeader__body
          p No ejemplos 
          .anchorHeader__btn
            a(href="#top") ^

      .row.justify-content-center.align-items-center.my-5 
        .col-10.col-md-8
          .card-media.bg-brand-color-light
            .card-media__body                 
              figure.card__figure
                img(src="assets/images/pages/tema_1/arrow.svg").img-fluid
              p.mb-0 Prevalencia del bien particular.     
        .col-10.col-md-8
          .card-media.bg-brand-color-light
            .card-media__body                 
              figure.card__figure
                img(src="assets/images/pages/tema_1/arrow.svg").img-fluid
              p.mb-0 Despersonalización, entendida como una situación en ausencia de relaciones interpersonales.      
        .col-10.col-md-8
          .card-media.bg-brand-color-light
            .card-media__body                 
              figure.card__figure
                img(src="assets/images/pages/tema_1/arrow.svg").img-fluid
              p.mb-0 Prevalencia del proceso administrativo sobre la persona.      
        .col-10.col-md-8
          .card-media.bg-brand-color-light
            .card-media__body                 
              figure.card__figure
                img(src="assets/images/pages/tema_1/arrow.svg").img-fluid
              p.mb-0 Falta de confianza entre las personas de apropiación institucional, fragmentación y desarticulación entre agentes.       
        .col-10.col-md-8
          .card-media.bg-brand-color-light
            .card-media__body                 
              figure.card__figure
                img(src="assets/images/pages/tema_1/arrow.svg").img-fluid
              p.mb-0 Condiciones laborales inadecuadas del personal de salud.      
        .col-10.col-md-8
          .card-media.bg-brand-color-light
            .card-media__body                 
              figure.card__figure
                img(src="assets/images/pages/tema_1/arrow.svg").img-fluid
              p.mb-0 Dificultad en la participación de las personas en su manejo terapéutico.      
        .col-10.col-md-8
          .card-media.bg-brand-color-light
            .card-media__body                 
              figure.card__figure
                img(src="assets/images/pages/tema_1/arrow.svg").img-fluid
              p El uso inapropiado de la tecnología puede empobrecer la relación interpersonal.      
        .col-10.col-md-8
          .card-media.bg-brand-color-light
            .card-media__body                 
              figure.card__figure
                img(src="assets/images/pages/tema_1/arrow.svg").img-fluid
              p.mb-0 Deficiencias en el entorno e infraestructura, relacionadas con confort, calidez e intimidad de la persona.     
        .col-10.col-md-8
          .card-media.bg-brand-color-light
            .card-media__body                 
              figure.card__figure
                img(src="assets/images/pages/tema_1/arrow.svg").img-fluid
              p.mb-0 La administración organizacional se limita en diversos casos a los intereses políticos, dejando de lado las necesidades de las personas.   
        .col-10.col-md-8
          .card-media.bg-brand-color-light
            .card-media__body                 
              figure.card__figure
                img(src="assets/images/pages/tema_1/arrow.svg").img-fluid
              p.mb-0 La gestión en salud está orientada a cumplir procesos relacionados con aspectos financieros y no centrada en la salud de la persona.      
        .col-10.col-md-8
          .card-media.bg-brand-color-light
            .card-media__body                 
              figure.card__figure
                img(src="assets/images/pages/tema_1/arrow.svg").img-fluid
              p.mb-0 Los servicios de salud están reducidos al utilitarismo y a las reglas del mercado.

    .jumbotron.bg-white#5
      .anchorHeader
        .anchorHeader__number
          h3 5
        .anchorHeader__body
          p Componentes 
          .anchorHeader__btn
            a(href="#top") ^

      .row.justify-content-center.align-items-center.my-6 
        .col-12.col-lg-10.d-flex.justify-content-center
          img(src="assets/images/pages/tema_1/img_02.svg", alt="").img-fluid

      .row
        .col-12
          p Debido a las múltiples maneras de entender y abordar la humanización, es difícil establecer un procedimiento o paso a paso para desarrollarla. No obstante, podemos reconocer diversas acciones básicas para practicar la humanización, en este caso, aquellas acciones que favorezcan la atención en salud. A continuación, se presenta algunos de los componentes esenciales de la humanización en salud:

      .row.my-5
        .col-12.mb-3
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_duoble_chevron.svg", alt="")              
            .list__txt
              p.mb-0  Humanizarse primero para humanizar a los demás.
        .col-12.mb-3
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_duoble_chevron.svg", alt="")              
            .list__txt
              p.mb-0  Abordar la humanización desde un #[strong trabajo en equipo y multidisciplinario.]
        .col-12.mb-3
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_duoble_chevron.svg", alt="")              
            .list__txt
              p.mb-0  La automotivación y motivación a otros, para que practiquen y fomenten relaciones interpersonales humanizadas.
        .col-12.mb-3
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_duoble_chevron.svg", alt="")              
            .list__txt
              p.mb-0  El compromiso de la organización con la #[strong cultura de humanización.]
        .col-12.mb-3
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_duoble_chevron.svg", alt="")              
            .list__txt
              p.mb-0  El alto grado de corresponsabilidad por parte del personal de salud.  
        .col-12.mb-3
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_duoble_chevron.svg", alt="")              
            .list__txt
              p.mb-0  El abordaje de forma integral del ser humano.
        .col-12.mb-3
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_duoble_chevron.svg", alt="")              
            .list__txt
              p.mb-0  La generación de lineamientos que mejoren la gestión en salud y condiciones laborales.
        .col-12.mb-3
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_duoble_chevron.svg", alt="")              
            .list__txt
              p.mb-0  #[strong La formación continua] al personal de salud en capacidades, habilidades, ética, empatía, sentido en el trabajo, entre otras.
        .col-12.mb-3
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_duoble_chevron.svg", alt="")              
            .list__txt
              p.mb-0  La conciliación de la tecnología con acogimiento, personalización ética y cultura.
        .col-12.mb-3
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_duoble_chevron.svg", alt="")              
            .list__txt
              p.mb-0  La promoción de una cultura donde prevalezcan los valores humanos auténticos. 
        .col-12.mb-3
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_duoble_chevron.svg", alt="")              
            .list__txt
              p.mb-0  Prioriza el #[strong crecimiento personal], rescata lo genuino basado en el bienestar propio y del bien común. 
        .col-12.mb-3
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_duoble_chevron.svg", alt="")              
            .list__txt
              p.mb-0  Conecta las relaciones de la organización (personal de salud - persona y red de apoyo, persona y red de apoyo - personal de salud, personal de salud – persona y red de apoyo – directivas). 

      .jumbotron
        .col-12
          p Bermejo J. C., y Durbán M. (2013). El Compromiso de la Humanización en las Instituciones Socio sanitarias. Fundación Caser para la dependencia. pág. 3-12.
          p Referenciado en: Hoyos, H. P., Cardona, R.M., y Correa, S. D. (2008). Humanizar los contextos de salud, Cuestión de liderazgo, Revista Investigación y Educación en Enfermería Vol. XXVI, núm. 2, pág. 218-225.
          p.mb-0 Monteiro M. I., 2008, Humanização da Assistência Hospitalar no Brasil conhecimentos básicos para estudantes e profissionais, pág. 9-17.
          

    .jumbotron.bg-white#6
      .anchorHeader
        .anchorHeader__number
          h3 6
        .anchorHeader__body
          p Enfoques 
          .anchorHeader__btn
            a(href="#top") ^

      .row.mb-5
        .col-12
          p Cada persona e institución desde lo individual o colectivo puede desarrollar el abordaje conceptual de la humanización de la atención, dando prelación a aquellas características que considera más relevantes. Para ello, se puede abordar la humanización desde uno o varios enfoques. En el sector salud, como base, se presenta los siguientes:

      .row.justify-content-center.align-items-start.mb-5 
        .d-flex.justify-content-center.col-12.col-md-auto.mb-5
          img(src="assets/images/pages/tema_1/icon_09.svg", alt="", style="min-width:120px;").img-fluid
        .col
          p.mb-0 #[strong Enfoque Derechos Humanos]
          .hr-divider.my-3
          p Este enfoque se caracteriza en reconocer que todos los seres humanos nacen libres e iguales en dignidad y derechos. Así mismo, reconoce la libertad, la dignidad y el derecho otorgado de razón, conciencia y comportamiento fraterno individual y colectivo. 
      
      .row.justify-content-center.align-items-start.mb-5 
        .d-flex.justify-content-center.col-12.col-md-auto.mb-5
          img(src="assets/images/pages/tema_1/icon_10.svg", alt="", style="min-width:120px;").img-fluid
        .col
          p.mb-0 #[strong Enfoque Ecosistémico]
          .hr-divider.my-3
          p El presente Enfoque, permite una lectura más integral y holística, ya que genera un conocimiento integral entre aspectos como: el entorno, lo biológico, lo físico, cultural, económico, político y social, con relación a la problemática identificada en salud, lo cual, aborda el pensamiento complejo, del trabajo transdisciplinario e intersectorial, de la participación sistémica y comunitaria, se  reconoce las particularidades y las generalidades, la sostenibilidad con la generación de alternativas por la sociedad afectada, la equidad social y el fomento de procesos de investigación. 

      .row.justify-content-center.align-items-start.mb-5 
        .d-flex.justify-content-center.col-12.col-md-auto.mb-5
          img(src="assets/images/pages/tema_1/icon_11.svg", alt="", style="min-width:120px;").img-fluid
        .col
          p.mb-0 #[strong Enfoque Ética y Bioética]
          .hr-divider.my-3
          p Este enfoque tiene como fundamento los principios y valores irrenunciables, que trascienda la mercantilización de la salud y favorezca la humanización en salud, de igual manera, la bioética tiene que ver con la protección de la vida.

          p Considera al ser humano como ser social, en donde encuentra su propio bien, capaz de razonar, conocer, nombrar, distinguir, jerarquizar, reconocer lo justo de lo injusto, establecer leyes y la búsqueda del bienestar.

      .row.justify-content-center.align-items-start.mb-5 
        .d-flex.justify-content-center.col-12.col-md-auto.mb-5
          img(src="assets/images/pages/tema_1/icon_12.svg", alt="", style="min-width:120px;").img-fluid
        .col
          p.mb-0 #[strong Enfoque Humanístico]
          .hr-divider.my-3
          p Este enfoque comprende al ser humano desde una visión multidimensional que promueve el acto de reconocimiento del sujeto como sujeto, más allá de sus propios condicionantes y/o estímulos externos, incluso más allá de lo que él mismo considera como sus propias posibilidades, pero que es capaz de orientarse a un propósito y por tanto, otorgarse el derecho de asignarle un significado a la vida, sin lugar a duda situado en una circunstancia, un entorno, un territorio existencial, capaz de trascenderse a sí mismo y orientar su vida.

      .row.justify-content-center.align-items-start.mb-5 
        .d-flex.justify-content-center.col-12.col-md-auto.mb-5
          img(src="assets/images/pages/tema_1/icon_13.svg", alt="", style="min-width:120px;").img-fluid
        .col
          p.mb-0 #[strong Enfoque Diferencial, Poblacional e Intercultural]
          .hr-divider.my-3
          p El Enfoque Diferencial, considera la inclusión de las personas, diferencias y semejanzas con el otro, reconoce la diversidad etaria, étnica, cultural, de discapacidad y situaciones especiales de vulneración de derechos (desplazamiento, condición legal, ubicación geográfica, violencia). 
          p En cuanto al Enfoque Poblacional, reconoce la relación que hay entre la población con el territorio y las condiciones propias que posee cada población, en aspectos políticos, socioeconómicos, religiosos, culturales y ambientales, así como, en su dinámica demográfica, para abordar y dar solución a las problemáticas.
          p En el enfoque intercultural parte del respeto por las diferencias culturales existentes en el territorio nacional, a partir del reconocimiento de los saberes, prácticas y medios tradicionales, alternativos y complementarios para la recuperación de la salud. 

    .jumbotron.bg-white 
      .row
        .col-12
          .header-ecored.mt-3#tema1_1
            h2 Conceptualización Humanización en salud      
      .row
        .col-12
          p Es momento de combinar la información entregada y agregar su opinión para formar su propio concepto de humanización en salud. A continuación:
      .row.my-3
        .col-12.mb-3
          .list
            .list__item
              .list__item__bulletNumber
                span 1            
            .list__txt
              p.mb-0 Escuche atentamente y analice el video.
        .col-12.mb-3
          .list
            .list__item
              .list__item__bulletNumber
                span 2           
            .list__txt
              p.mb-0 Durante el video tendrá unas pausas para responder unas preguntas orientadoras. Escriba la respuesta más cercana a su sentir y pensar. No hay respuestas acertadas o erradas. Es una construcción individual. Guarde sus respuestas en un documento en su computadora. 
        .col-12.mb-3
          .list
            .list__item
              .list__item__bulletNumber
                span 3            
            .list__txt
              p.mb-0 Al finalizar el video, escriba su concepto y guárdelo. Se solicitará en una de sus evidencias de aprendizaje.  

      .row.mt-5
        .col-12
          .embed-responsive.embed-responsive-16by9
            iframe.embed-responsive-item(width='560', height='315', src='media/actividad-1/index.html', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')     